<h1>Welcome to the Apartment Manager! </h1> 
<% if current_user %>
	<% if current_user.role.nil? %>
		<p>Each user can be either a landlord or a tenant.</p>
		<h3>Are you a <%= link_to('landlord', new_landlord_path) %> or a tenant? </h3>
		<p>You can only chose to be a landlord at this time.</p>
	<% else %>
		<p>Your role is <%= current_user.role %>.</p>
		<% if current_user.role == 'landlord' %>
			<%= link_to('Manage Buildings', landlord_path(Landlord.find_by(user: current_user))) %>
		<% end %>
	<% end %>
<% end %>