<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if @building.errors.any? %>
  <% @building.errors.full_messages.each do |error_message| %>
    Error: <%= error_message %> <br />
  <% end %>
<% end %>
<h2>Update a building and add apartments</h2>
<%= render 'form', building: @building, apartments: @building.apartments.to_a %>
