<h2>Landlord Information</h2>
Name: <%= @landlord.name %>
<br />
<h4>Buildings</h4>
<% if @buildings.empty? %>
	<p>You have no buildings. Would you like to add a building?</p>
<% else %>
	<p>Select a building to edit or add a new building</p>
	<ul>
		<% @buildings.each do |b| %>
			<li><%= link_to b.name, landlord_building_path(@landlord, b) %></li>
		<% end %>
	</ul>
<% end %>
<%= link_to 'Add Building', new_landlord_building_path(@landlord) %>
